@import "./variables";
@import "./utilities";

@mixin button-disabled {
  &,
  &:hover {
    background-color: rgba(229, 229, 229, 0.5);
    background-image: none;
    border-color: rgba(197, 197, 197, 0.5);
    box-shadow: none;
    color: rgba(102, 102, 102, 0.5);
    cursor: default;
  }
}

@mixin button {
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  color: #333;
  cursor: pointer;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  padding: 6px 12px;
  position: relative;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  -webkit-appearance: none;

  &:active,
  &:hover {
    background-color: #ddd;
    background-image: linear-gradient(#eee, #ddd);
    border-color: #ccc;
    text-decoration: none;
  }

  &:active,
  &.selected {
    background-color: #dcdcdc;
    background-image: none;
    border-color: #b5b5b5;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
  }

  &:disabled,
  &.disabled {
    @include button-disabled;
  }

  &:focus {
    border-color: #51a7e8;
    box-shadow: 0 0 5px rgba(81, 167, 232, 0.5);
    outline: none;
    text-decoration: none;
  }

  &:focus:hover,
  &.selected:focus {
    border-color: #51a7e8;
  }

  &.selected:hover {
    background-color: darken(#dcdcdc, 5%);
  }
}

@mixin button-block {
  display: block;
  width: 100%;
  text-align: center;
}

@mixin button-count {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-right-radius: 3px;
  border-left: 0;
  border-top-right-radius: 3px;
  color: $color-text;
  float: left;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  padding: 2px 7px;
  vertical-align: middle;

  &:hover,
  &:active {
    text-decoration: none;
  }

  &:hover {
    color: $color-link;
    cursor: pointer;
  }
}

@mixin button-countable {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  float: left;
}

@mixin button-danger-disabled {
  &,
  &:hover {
    color: #cb7f7f;
    background-color: #efefef;
    background-image: linear-gradient(#fefefe, #efefef);
    border-color: #e1e1e1;
  }
}

@mixin button-danger {
  color: #900;

  &:hover {
    color: #fff;
    background-color: #b33630;
    background-image: linear-gradient(#dc5f59, #b33630);
    border-color: #cd504a;
  }

  &:active,
  &.selected {
    color: #fff;
    background-color: #b33630;
    background-image: none;
    border-color: darken(#cd504a, 15%);
  }

  &.selected:hover {
    background-color: darken(#b33630, 5%);
  }

  &:disabled,
  &.disabled {
    @include button-danger-disabled;
  }

  &:hover,
  &:active,
  &.selected {
    .counter {
      color: #b33630;
      background-color: #fff;
    }
  }
}

@mixin button-expandable {
  background: #ddd;
  border-radius: 1px;
  color: #555;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  height: 12px;
  line-height: 6px;
  padding: 0 5px;
  text-decoration: none;
  vertical-align: middle;

  &:active {
    background-color: #4183c4;
    color: #fff;
  }

  &:hover {
    background-color: #ccc;
    text-decoration: none;
  }
}

@mixin button-group {
  @include clearfix;
  display: inline-block;
  vertical-align: middle;
}

@mixin button-grouped {
  position: relative;
  float: left;

  position: relative;
  float: left;

  &:not(:first-child):not(:last-child) {
    border-radius: 0;
  }

  &:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }

  &:last-child {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }

  &:active,
  &:hover,
  &.selected {
    z-index: 2;
  }

  &:focus {
    z-index: 3;
  }

  & + & {
    margin-left: -1px;
  }
}

@mixin button-outline-disabled {
  &,
  &:hover {
    color: $color-text;
    background-color: #fff;
    background-image: none;
    border-color: #e5e5e5;
  }
}

@mixin button-outline {
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  color: $color-link;

  .counter {
    background-color: #eee;
  }

  &:hover,
  &:active,
  &.selected {
    background-color: $color-link;
    background-image: none;
    border-color: $color-link;
    color: #fff;

    .counter {
      background-color: #fff;
      color: $color-link;
    }
  }

  &.selected:hover {
    background-color: darken($color-link, 5%);
  }

  &:disabled,
  &.disabled {
    @include button-outline-disabled;
  }
}

@mixin button-primary-disabled {
  &,
  &:hover {
    background-color: #add39f;
    background-image: linear-gradient(#c3ecb4, #add39f);
    border-color: #b9dcac #b9dcac #a7c89b;
    color: #fefefe;
  }
}

@mixin button-primary {
  background-color: #60b044;
  background-image: linear-gradient(#8add6d, #60b044);
  border-color: darken(#60b044, 2%);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);

  &:hover {
    background-color: darken(#60b044, 5%);
    background-image: linear-gradient(darken(#8add6d, 5%), darken(#60b044, 5%));
    border-color: #4a993e;
    color: #fff;
  }

  &:active,
  &.selected {
    background-color: darken(#60b044, 5%);
    background-image: none;
    border-color: darken(#4a993e, 5%);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
  }

  &.selected:hover {
    background-color: darken(#60b044, 10%);
  }

  &:disabled,
  &.disabled {
    @include button-primary-disabled;
  }
}

@mixin button-small {
  padding: 2px 10px;
}
