@import "scss/panel";

@mixin menu {
  @include panel;
  font-size: 13px;
  list-style: none;

  &-heading {
    border-bottom-color: #eee;
    padding: 8px 10px;

    &:hover {
      text-decoration: none;
    }
  }

  &-item {
    border-bottom-color: #eee;
    padding: 8px 10px;

    &:hover {
      background-color: #f9f9f9;
      text-decoration: none;
    }

    &-selected {
      background-color: #fff;
      color: #222;
      cursor: default;
      font-weight: bold;

      &:before {
        background-color: #d26911;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 2px;
      }
    }
  }
}
