@mixin panel {
  &,
  &-danger {
    background-color: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 3px;
    font-size: 14px;
  }

  &-danger &-heading {
    background-color: #df3e3e;
    border: 1px solid #a00;
    color: #fff;
    text-shadow: 0 -1px 0 #900;
  }

  &-heading {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d8d8d8;
    color: #555;
    display: block;
    font-weight: bold;
    padding: 8px 10px;

    &:first-child {
      border-top-right-radius: 2px;
      border-top-left-radius: 2px;
    }

    &:last-child {
      border-bottom-right-radius: 2px;
      border-bottom-left-radius: 2px;
      border-bottom: 0;
    }
  }

  &-item {
    border-bottom: 1px solid #d8d8d8;
    display: block;
    padding: 12px;
    position: relative;
    text-shadow: 0 1px 0 #fff;

    &:first-child {
      border-top: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px;

      &:before {
        border-top-left-radius: 2px;
      }
    }

    &:last-child {
      border-bottom: 0;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px;

      &:before {
        border-bottom-left-radius: 2px;
      }
    }
  }
}
