$background-color-code: #f7f7f7 !default;
$color-base-border: #ccc !default;
$color-black: #000 !default;
$color-blue: #117ec6 !default;
$color-blue-dark: darken($color-blue, 5%) !default;
$color-gray-dark: #333 !default;
$color-gray-darker: #222 !default;
$color-gray-light: #999 !default;
$color-gray-lighter: #eee !default;
$color-gray: #555 !default;
$color-green: #59bb0c !default;
$color-green-dark: darken($color-green, 5%) !default;
$color-link: #337ab7 !default;
$color-link-visited: #685987 !default;
$color-orange: #f89406 !default;
$color-pink: #c3325f !default;
$color-purple: #7a43b6 !default;
$color-qiita: #59bb0c !default;
$color-qiita-light: lighten($color-qiita, 30%) !default;
$color-red: #fe4d08 !default;
$color-text: #4a4a4a !default;
$color-white: #fff !default;
$color-yellow: #ffc40d !default;
$font-family-code: Consolas, 'Liberation Mono', Menlo, Courler, monospace !default;
$font-family-italic: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', '游ゴシック', YuGothic, sans-serif !default;
$font-family-sans-serif: 'Helvetica Neue', Helvetica, 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, sans-serif !default;
$font-family-serif: "Times New Roman", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "メイリオ", Meiryo, serif !default;
