.article {
  &-heading {
    font-size: 32px;
    font-weight: bold;
  }

  &-example {
    border: solid 1px #ddd;
    border-radius: 3px;
    padding: 16px;
  }

  &-section {
    margin-top: 60px;

    &-heading {
      font-size: 24px;
      font-weight: bold;
      padding-bottom: 12px;
    }
  }
}
