@import "scss/buttons";
@import "scss/utilities";

.button,
.button-block-small,
.button-block,
.button-danger-disabled,
.button-danger-small,
.button-danger,
.button-disabled,
.button-expandable,
.button-group,
.button-outline-disabled,
.button-outline-small,
.button-outline,
.button-primary-disabled,
.button-primary-small,
.button-primary,
.button-small {
  margin-right: 12px;
}

.button {
  @include button;
}

.button-block {
  @include button;
  @include button-block;
}

.button-block-small {
  @include button;
  @include button-block;
  @include button-small;
}

.button-count {
  @include button-count;
}

.button-countable {
  @include button;
  @include button-countable;
  @include button-small;
  margin-right: 0;
}

.button-disabled {
  @include button;
  @include button-disabled;
}

.button-danger {
  @include button;
  @include button-danger;
}

.button-danger-disabled {
  @include button;
  @include button-danger-disabled;
}

.button-danger-small {
  @include button;
  @include button-danger;
  @include button-small;
}

.button-expandable {
  @include button-expandable;
}

.button-group {
  @include button-group;
}

.button-grouped {
  @include button;
  @include button-grouped;
}

.button-grouped-small {
  @include button;
  @include button-grouped;
  @include button-small;
}

.button-base {
  @include button-base;
}

.button-outline {
  @include button;
  @include button-outline;
}

.button-outline-disabled {
  @include button;
  @include button-outline-disabled;
}

.button-outline-small {
  @include button;
  @include button-outline;
  @include button-small;
}

.button-primary {
  @include button;
  @include button-primary;
}

.button-primary-disabled {
  @include button;
  @include button-primary-disabled;
}

.button-primary-small {
  @include button;
  @include button-small;
  @include button-primary;
}

.button-small {
  @include button;
  @include button-small;
}

.buttons {
  @include clearfix;
  margin-bottom: 12px;
}
