@import "mixins/container";
@import "scss/utilities";
@import "scss/variables";

.header {
  background-color: $color-qiita;
  width: 100%;

  &-inner {
    @include clearfix;
    @include container;
    color: #fff;
    padding-bottom: 16px;
    padding-top: 16px;
  }

  &-navigation {
    float: right;

    &-link {
      color: $color-qiita-light;
      display: inline-block;

      &:hover {
        color: #fff;
      }
    }
  }
}
