@import "scss/utilities";
@import "scss/variables";

.header {
  background-color: $color-qiita;

  &-inner {
    @include clearfix;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 860px;
  }

  &-navigation {
    float: right;

    &-link {
      color: $color-qiita-light;
      display: inline-block;

      &:hover {
        color: #fff;
      }
    }
  }
}
