@import "scss/grid";
@import "scss/utilities";

.main {
  @include columns;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 20px;
  width: 860px;

  &-main {
    @include column(3/4);
  }

  &-sub {
    @include column(1/4);
    padding-right: 24px;
  }
}
