@import "mixins/container";
@import "scss/grid";
@import "scss/utilities";

.main {
  &-inner {
    @include container;
    @include columns;
    padding-bottom: 40px;
    padding-top: 32px;
  }

  &-main {
    @include column(3/4);
  }

  &-sub {
    @include column(1/4);
    padding-right: 24px;
  }
}
