@import "scss/panel";

.panel {
  @include panel;
  margin-bottom: 12px;

  &,
  &-heading {
    font-size: 13px;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-examples {
    margin-bottom: 12px;
  }
}
