@charset "UTF-8";
/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, nav, section, details, summary {
  display: block; }

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  box-sizing: inherit; }

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%; }

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll; }

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

.article-heading {
  font-size: 24px;
  font-weight: bold; }

.article-section {
  margin-top: 60px; }
  .article-section-heading {
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 12px; }

a {
  color: inherit;
  text-decoration: none; }

.footer-inner {
  border-top: solid #eee 1px;
  font-size: 13px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 40px;
  width: 860px; }

.header {
  background-color: #59bb0c; }
  .header-inner {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 12px;
    padding-top: 12px;
    width: 860px; }
    .header-inner:before {
      content: "";
      display: table; }
    .header-inner:after {
      clear: both;
      content: "";
      display: table; }
  .header-navigation {
    float: right; }
    .header-navigation-link {
      display: inline-block; }

.main {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  padding-top: 20px;
  width: 860px; }
  .main:before {
    content: "";
    display: table; }
  .main:after {
    clear: both;
    content: "";
    display: table; }
  .main-main {
    overflow: hidden; }
  .main-sub {
    float: left;
    width: 220px;
    padding-right: 12px; }

.menu {
  background-color: #fff;
  border: 1px solid #d8d8d8;
  border-radius: 3px;
  font-size: 13px;
  list-style: none;
  margin-bottom: 15px; }
  .menu-item {
    border-bottom: 1px solid #eee;
    display: block;
    padding: 8px 10px;
    position: relative;
    text-shadow: 0 1px 0 #fff; }
    .menu-item:first-child {
      border-top: 0;
      border-top-left-radius: 2px;
      border-top-right-radius: 2px; }
      .menu-item:first-child:before {
        border-top-left-radius: 2px; }
    .menu-item:last-child {
      border-bottom: 0;
      border-bottom-left-radius: 2px;
      border-bottom-right-radius: 2px; }
      .menu-item:last-child:before {
        border-bottom-left-radius: 2px; }
    .menu-item:hover {
      background-color: #f9f9f9;
      text-decoration: none; }
    .menu-item-selected {
      background-color: #fff;
      color: #222;
      cursor: default;
      font-weight: bold; }
      .menu-item-selected:before {
        background-color: #d26911;
        bottom: 0;
        content: "";
        left: 0;
        position: absolute;
        top: 0;
        width: 2px; }

.markdown > *:first-child {
  margin-top: 0;
  padding-top: 0; }

.markdown a {
  color: #337ab7; }
  .markdown a:hover {
    text-decoration: underline; }

.markdown b {
  font-weight: 900; }

.markdown dd {
  margin-left: 2em; }

.markdown del {
  text-decoration: line-through; }

.markdown dl {
  margin: 1em 0; }

.markdown em {
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "游ゴシック", YuGothic, sans-serif;
  font-style: italic; }

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-family: "Helvetica Neue", Helvetica, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-weight: normal;
  line-height: 1.4;
  margin: 1.35em 0 0.7em; }
  .markdown h1 + ol,
  .markdown h1 + p,
  .markdown h1 + ul,
  .markdown h2 + ol,
  .markdown h2 + p,
  .markdown h2 + ul,
  .markdown h3 + ol,
  .markdown h3 + p,
  .markdown h3 + ul,
  .markdown h4 + ol,
  .markdown h4 + p,
  .markdown h4 + ul,
  .markdown h5 + ol,
  .markdown h5 + p,
  .markdown h5 + ul,
  .markdown h6 + ol,
  .markdown h6 + p,
  .markdown h6 + ul {
    margin-top: 0; }

.markdown h1 {
  border-bottom: solid 3px #eee;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 12px;
  margin-top: 64px;
  padding-bottom: 8px; }
  .markdown h1 .emoji {
    vertical-align: top; }
  .markdown h1 + h2 {
    margin-top: 24px; }

.markdown h2 {
  border-bottom: solid 1px #eee;
  font-size: 22px;
  line-height: 1.225;
  margin-bottom: 12px;
  margin-top: 64px;
  padding-bottom: 8px; }
  .markdown h2 .emoji {
    vertical-align: top; }
  .markdown h2 + h3 {
    margin-top: 24px; }

.markdown h3 {
  font-size: 20px;
  line-height: 1.43;
  margin-top: 64px; }

.markdown h4 {
  font-size: 18px;
  margin-top: 1.3em; }

.markdown h5 {
  margin-top: 1.5em;
  font-size: 17px; }

.markdown h6 {
  margin-top: 1.5em;
  font-size: 16px;
  color: #777; }

.markdown hr {
  background-color: #ccc;
  border: 0;
  height: 2px;
  margin: 1em 0; }

.markdown img {
  margin: 0;
  max-width: 100%;
  vertical-align: middle; }

.markdown ins {
  font-weight: 900; }

.markdown li p:first-child {
  margin: 0; }

.markdown li > ol,
.markdown li > ul {
  margin-bottom: 0;
  margin-top: 0; }

.markdown ol,
.markdown ul {
  line-height: 1.7;
  margin-bottom: 1em;
  margin-top: 1em;
  padding-left: 1.5em; }

.markdown ol > li {
  list-style-type: decimal; }

.markdown p {
  font-size: 1em;
  line-height: 1.875;
  margin-bottom: 0;
  margin-top: 1.6em;
  word-wrap: break-word; }

.markdown pre {
  background-color: #f7f7f7;
  border: 0;
  border-radius: 3px;
  color: #333;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 13px;
  line-height: 1.5;
  margin: 0;
  padding: 8px 16px;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word; }

.markdown strong {
  font-weight: 900; }

.markdown table {
  display: block;
  overflow: auto;
  margin: 1em 0;
  border-left: solid 1px #d9d9d9; }

.markdown tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.03); }

.markdown td,
.markdown th {
  border-bottom: solid 1px #ccc;
  border-right: solid 1px #ccc;
  padding: 8px 10px;
  word-wrap: break-word; }

.markdown thead td,
.markdown th {
  font-weight: 900;
  background-color: #fff;
  border-top: solid 1px #d9d9d9; }

.markdown ul > li {
  list-style-type: disc; }
